@charset "UTF-8";
/* CSS Document */
*{
  margin:0;
  padding:0;
}
#wrap{
  width: 800px;
  background-color: #f5f5dc;
  margin: 0 auto;
}
#header{
  background-color: #f1b4b6;
}
#content{
  display: flex;
  justify-content: space-between;
}
#cont1{
  background-color: #98fb98;
  width: 250px;
}
#cont2{
  background-color: #87ceeb;
  width: 250px;
}
#cont3{
    background-color: #ce95ce;
    width: 250px;
  }
#footer{
  background-color: #ffd700;
  clear: both;
}